.about-beer-boutique {
  background-color: var(--background-color);
  color: var(--text-light);
  text-align: center;
  padding: 30px 15px 120px;
}

.about_us__header {
  background-color: var(--brand-color);
  background-image: url(../img/title-page-about-us.webp);
  background-position-y: 56%;
  height: 110px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--ui-dark);
}

.about_us__header-title {
  font-family: Teko, sans-serif;
  font-size: 32px;
  text-align: center;
  padding: 40px;
}

.about-us-beer-boutique__text {
  display: block;
  margin: 0 auto;

}

.about-us-beer-boutique__img {
  width: 100%;
  background-size: cover;
  padding: 10px;
  text-align: center;
}

.about-us-beer-boutique_title {
  color: var(--brand-color);
  font-family: "Shadows Into Light", undefined;
  font-size: 22px;
  text-align: left;
  padding: 15px;
}

.about-us-beer-boutique_subtitle {
  color: var(--text-light);
  font-family: Teko, sans-serif;
  font-size: 40px;
  text-align: left;
}

.about-us-beer-boutique_description {
  color: var(--description-color);
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  text-align: left;
  line-height: 27px;
  padding: 20px 5px 20px 5px;
}

.about-us-beer-boutique__text {
  color: var(--story-color);
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 25px;
  text-align: left;
}

@media (min-width: 768px) {

  .about-us-beer-boutique__story {
    display: flex;
    gap: 10px;
    padding: 10px;
  }

  .about-us-beer-boutique__img {
    width: 50%;
    background-size: cover;

  }

  .about-us-beer-boutique__alltext {
    width: 50%;
  }

  .about_us__header-title {

    font-size: 42px;

  }
}

@media (min-width: 1110px) {
  .about-us-beer-boutique__story {
    gap: 30px;
    padding: 20px;
  }

}