.carousel__container {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: var(--brand-color);
}

.carousel-slide__container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel__container .slide {
    flex: 0 0 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;

}

@media (min-width: 768px) {
    .carousel__container .slide {
        flex: 0 0 50%;
    }
}

@media (min-width: 1024px) {
    .carousel__container .slide {
        flex: 0 0 33.33%;
    }
}

.carousel__container .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: rgba(0, 0, 0, 0.7);
    border: none;
    font-size: 34px;
    padding: 10px 20px;
    cursor: pointer;
}

.carousel__container .carousel__button-prev {
    left: 10px;
}

.carousel__container .carousel__button-next {
    right: 10px;
}