/* *{
  outline: 1px solid red;
} */

.header__title-container {
  background-image: url(../img/contacts-title-background.png);
  width: 100%;
  max-height: 132px;
  padding: 40px 0px 30px;
  text-align: center;
  background-size: cover;
}

.header__title {
  font-size: 40px;
  font-family: "Teko", sans-serif;
  text-align: center;
}

.contacts__forms {
  background-image: url(../img/main-background.png);
}

.contacts__form {
  display: flex;
  flex-direction: column;
  padding: 80px 10px 50px 10px;
}

.contacts__form-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contacts__form-text {
  color: var(--text-light);
  margin: 7.5px;
  min-width: 40%;
  font-family: "Teko", sans-serif;
}

.contacts__form-text-title {
  font-family: "Teko", sans-serif;
  font-size: 26px;
}

.contacts__form-text-link {
  color: var(--story-color);
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}

.contacts__form-text-title-info {
  color: var(--story-color);
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}

.contacts__form-text-link:hover {
  text-decoration: underline;
}

.contacts__form-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--contacts-form-background-color);
  display: block;
  position: relative;
}

.contacts__form-image-icon {
  color: var(--contacts-form-image-icon-color);
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contacts__forms-field {
  display: flex;
  flex-direction: column;
  margin: 10px 24px 60px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.contacts__forms-map {
  height: 520px;
  max-width: 100%;
  filter: grayscale(100%) invert(100%);
  width: 100%;
  margin: 0 15px;
}

.contact__forms-map-address {
  height: 520px;
  max-width: 100%;
  aspect-ratio: 4 / 3;
}

.contacts__forms-form {
  background-color: var(--contacts-background-form-color);
  height: 520px;
  max-width: 100%;
  width: 100%;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__forms-reservation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.contacts__forms-reservation-field {
  background-color: var(--reservation-field-color);
  border: 0;
  outline-color: var(--field-outline-color);
  font-family: "Open Sans", sans-serif;
  margin-top: 25px;
  padding: 21px 40px;
  color: var(--reservation-field-text-color);
}

.contacts__forms-reservation-submit {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--botton-reserve-background-color);
  border: 0;
  cursor: pointer;
  opacity: 1;
  margin-top: 50px;
  padding: 21px 40px;
}

.contacts__forms-reservation-submit:hover {
  opacity: 0.9;
}

@media (min-width: 768px) {
  .contacts__form {
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
  }

  .contacts__form-image {
    width: 70px;
    height: 70px;
  }

  .contacts__form-image-icon {
    width: 40px;
    height: 40px;
  }

  .contacts__forms-field {
    flex-direction: row;
    align-items: flex-start;
  }
}
