.footer {
  background-color: var(--background-color);
}
.footer__container {
  width: 100%;
  padding: 40px 20px;
  color: var(--text-light);
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
  gap: 30px;
  @media (min-width: 768px) {
    grid-template-columns: 1.5fr repeat(2, 1fr) 2fr;
    justify-content: center;
    text-align: start;
    gap: 25px 30px;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__logo-image {
  display: inline-block;
  width: 180px;
  height: 40px;
}
.footer__description {
  text-wrap: balance;
}
.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}
.footer__social-item {
  width: 40px;
  height: 40px;
}
.footer__social-link {
  color: var(--background-color);
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__nav-item {
  display: inline-block;
}

.footer__form {
  width: 100%;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.footer__heading {
  font-family: "Teko";
  font-size: 32px;
}

.footer__input {
  border: none;
  background-color: var(--reservation-field-color);
  padding: 19px 25px;
  width: 100%;
  color: var(--text-light);

  &:focus,
  &:active {
    border: none;
    outline-color: var(--brand-color);
  }
}

.footer__button {
  width: 100%;
  color: var(--text-light);
  background-color: var(--brand-color);
  border: none;
  padding: 20px 25px;
  transition: all 0.3s ease;
  cursor: pointer;
  &:active {
    transform: scale(0.98);
  }
  &:hover {
    opacity: 0.92;
  }
}

.footer__copyright {
  grid-column: 1/-1;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid var(--text-light);
}
