.header {
  background-color: var(--ui-black);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 20px;
}
.header__logo {
  width: 180px;
  height: 40px;
}
.header__logo-image {
  width: 180px;
  height: 40px;
}
.header__navigation-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header__social-list {
  display: flex;
  gap: 15px;
}

.header__social-link > svg {
  width: 30px;
}

.header__burger {
  display: none;
}
