.menu {
  background-color: var(--background-color);
  color: var(--text-light);
  text-align: center;
  padding: 90px 0 65px;
}

.menu__title-container {
  padding: 0 15px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  place-items: center;
}

.menu__title {
  color: var(--brand-color);
  font-family: "Shadows Into Light";
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.menu__subtitle {
  font-family: "Teko", sans-serif;
  font-size: 40px;
  margin-bottom: 25px;
}

.menu__text,
.menu__image-description {
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  line-height: 28px;
  color: var(--description-color);
}

.menu__content-container {
  display: grid;
  margin-top: 45px;
  gap: 30px;
  justify-items: center;
  padding: 0 15px;
}

.menu__image-container {
  position: relative;
}

.menu__image {
  height: 100%;
}

.menu__image-card {
  position: absolute;
  padding: 60px 30px;
  margin-bottom: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 55%);
  overflow-y: scroll;
}

.menu__image-title {
  font-family: "Teko";
  font-size: 38px;
  margin-bottom: 25px;
}

.menu__image-description {
  margin-bottom: 25px;
}

.menu__link {
  color: var(--brand-color);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  font-weight: 700;
  text-decoration: none;
  width: fit-content;
  border: 1px solid transparent;
  
  &:hover {
    border-bottom: 1px solid var(--brand-color);
  }
}

@media (min-width: 768px) {
  .menu__title {
    font-size: 21px;
  }
  .menu__subtitle {
    font-size: 40px;
  }
  .menu__content-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
  }
  .menu__image-card {
    padding: 30px;
  }
  .menu__image-title {
    font-size: 46px;
  }
}

@media (min-width: 992px) {
  .menu__title {
    font-size: 28px;
  }
  .menu__subtitle {
    font-size: 62px;
  }
  .menu__content-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .menu__image-card {
    padding-top: 100px;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0%);
  }
  .menu__image-card:hover {
    background-color: rgba(0, 0, 0, 55%);
  }
  .menu__image-title {
    font-size: 54px;
  }
  .menu__image-description,
  .menu__link {
    display: none;
  }
  .menu__image-container:hover {
    .menu__image-description,
    .menu__link {
      display: flex;
    }
  }
}