.offer {
  background-image: url(../img/main-background.png);
  color: var(--default-color);
  scroll-behavior: smooth;
  height: 100%;
  padding: 40px 10px 65px;
}

.offer__container {
  display: flex;
  align-items: self-start;
  flex-direction: column;
}

.offer__entry {
  padding: 0 15px;
}

.offer__entry-title {
  font-family: "Shadows Into Light", undefined;
  color: var(--offer-entry-title);
  font-size: 14px;
}

.offer__entry-description {
  font-family: "Teko", sans-serif;
  margin: 20px 0;
  font-size: 40px;
}

.offer__entry-extended-description {
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  color: var(--offer-entry-description-color);
  text-align: left;
  margin-top: 35px;
  line-height: 27.93px;
}

.offer__entry-link-wrapper {
  margin: 35px 0 0;
}

.yellow_word {
  color: var(--offer-word-color);
}

.offer__entry-link {
  display: block;
  cursor: pointer;
  opacity: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 13.2px;
  font-weight: bold;
  background-color: var(--bottom-reserve-background-color);
  color: var(--reservation-button-text-color);
  padding: 21px 40px;
  width: 165px;
  text-align: center;
}

.offer__title-link:hover {
  opacity: 0.9;
}

.assortment__wrapper {
  margin-top: 30px;
}

.assortment__item {
  display: flex;
  padding: 20px 7.5px;
}

.assortment__item-icon-wrapper {
  max-width: 100%;
  height: 100%;
  display: flex;
  margin: 0 7.5px;
}

.assortment__item-icon {
  display: block;
  max-width: 70px;
  height: 70px;
  margin: auto;
}

.assortment__item-title {
  font-family: "Teko", sans-serif;
  font-size: 26px;
}

.assortment__item-description {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: var(--offer-assortment-item-description);
  line-height: 25px;
}

.margin-item {
  margin-top: 60px;
}

.margin-item-special {
  margin-top: 50px;
}

.margin-icon-special {
  margin: 0 10px;
}

@media (min-width: 767px) {
  .offer__entry-title {
    font-size: 28px;
  }

  .offer__entry-description {
    font-size: 62px;
  }

  .assortment__item-title {
    font-size: 38px;
  }
}

@media (min-width: 768px) {
  .offer__container {
    align-items: center;
    margin: 0 auto;
  }

  .offer__entry {
    padding: 0 15px;
    align-self: baseline;
  }

  .assortment__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .margin-item-special {
    margin: 0;
  }

  .offer__entry-title {
    font-size: 21px;
  }

  .offer__entry-description {
    font-size: 51px;
  }

  .assortment__item-title {
    font-size: 32px;
  }

  .assortment__item-icon {
    max-width: 100px;
    height: 100px;
  }
}

@media (min-width: 992px) {
  .offer__container {
    flex-direction: row;
  }

  .offer__entry {
    align-self: end;
  }

  .offer__entry-title {
    font-size: 28px;
  }

  .offer__entry-description {
    font-size: 62px;
  }

  .assortment__item-title {
    font-size: 38px;
  }
}
