.team {
  padding-top: 90px;
  padding-bottom: 40px;
  line-height: 25px;
  text-align: center;
}

.team__title,
.team__subtitle {
  margin-bottom: 30px;
}

.team__title {
  color: var(--brand-color);
  font-family: "Shadows Into Light";
  font-size: 14px;
}

.team__subtitle {
  color: var(--text-light);
  font-family: 'Teko', sans-serif;
  font-size: 40px;
  line-height: 40px;
}

.team__description {
  color: var(--description-color);
  font-size: 19px;
  text-align: center;
  margin-top: 20px;
}


.team__members {
  display: grid;
  place-items: center;
}

.team__member {
  margin: 20px;
}

.team__member-image {}

.team__member-name {
  color: var(--name-color);
  font-family: "Teko";
  font-size: 26px;
  margin-top: 20px;
}

.team__member-role {
  color: var(--brand-color);
  font-size: 14px;
  margin-top: 20px;
}

.team__member-description {
  color: var(--story-color);
  font-size: 17px;
  margin-top: 20px;

}

@media (min-width: 768px) {

  .team__members {
    grid-template-columns: 1fr 1fr;

  }

  .team__subtitle {
    font-size: 51px;
  }

  .team__title {
    font-size: 21px;
  }

  .team__member-name {
    font-size: 32px;
  }

}

@media (min-width: 990px) {

  .team__members {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .team__subtitle {
    font-size: 62px;
  }

  .team__title {
    font-size: 28px;
  }

  .team__member-name {
    font-size: 38px;
  }
}