.social-link {
  color: currentColor;
  & svg {
    transition: all 0.3s ease;
    background-color: transparent;
    fill: var(--brand-color);
  }
}
.social-link:hover {
  & svg {
    background-color: var(--brand-color);
    & path {
      fill: currentColor;
    }
  }
}
