.top-choice {
  background-color: var(--background-color);
  color: var(--text-light);
  text-align: center;
  padding: 60px 24px 130px;
}

.top-choice__title-container {
  padding: 0 15px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  place-items: center;
  margin-bottom: 25px;
}

.top-choice__title {
  color: var(--brand-color);
  font-family: "Shadows Into Light";
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.top-choice__subtitle {
  color: var(--brand-color);
  font-family: "Teko", sans-serif;
  font-size: 40px;
  margin-bottom: 25px;
}

.top-choice__text {
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  line-height: 28px;
  color: var(--description-color);
}

.top-choice__images-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  margin-bottom: 25px;
  padding: 0 15px;
}

.top-choice__image {
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-size: cover;
  cursor: pointer;
  transition: 0.3s all ease;

  &:hover {
    transform: scale(1.03);
  }
}

.img--1 {
  background-image: url(../img/top_choice_chips.webp);
  background-position: 50%;
}

.img--2 {
  background-image: url(../img/top_choice_beer.webp);
}

.img--3 {
  background-image: url(../img/top_choice_burger.webp);
  background-position: 50%;
}

.img--4 {
  background-image: url(../img/top_choice_friends.webp);
  background-position: 50%;
}

.top-choice__menu-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 50px;
}

.top-choice__menu:first-child {
  margin-bottom: 50px;
}

.top-choice__menu-item {
  list-style: none;
  padding: 0 15px;
  margin-bottom: 20px;
}

.top-choice__menu-item-wrap {
  display: flex;
  justify-content: space-between;
}

.top-choice__menu-item-name,
.top-choice__menu-item-price {
  font-family: "Teko", sans-serif;
  font-size: 26px;
}

.top-choice__menu-item-price {
  color: var(--brand-color);
  text-align: right;
}

.top-choice__menu-underline {
  display: block;
  height: 22px;
  flex: 1;
  border-bottom: 2px dotted var(--description-color);
}

.top-choice__menu-item-ingredients {
  font-size: 17px;
  color: var(--description-color);
  text-align: left;
  line-height: 26px;
}

.top-choice__link {
  display: block;
  background-color: var(--brand-color);
  border: 1px solid var(--brand-color);
  text-decoration: none;
  width: 197px;
  height: 55px;
  line-height: 55px;
  margin: auto;
  font-weight: bold;
  font-size: 12px;
  color: var(--ui-dark);
}

.top-choice__link:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .top-choice {
    padding: 60px 40px 130px;
  }
  .top-choice__title {
    font-size: 21px;
  }
  .top-choice__subtitle {
    font-size: 40px;
  }
  .top-choice__images-container {
    margin-bottom: 50px;
  }
  .top-choice__menu {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
  .top-choice__menu-container {
    grid-template-columns: 1fr 1fr;
  }
  .top-choice__menu-item-name,
  .top-choice__menu-item-price {
    font-size: 32px;
  }
  .top-choice__menu:first-child {
    margin-bottom: 0;
  }
  .top-choice__menu-underline {
    height: 28px;
  }
}

@media (min-width: 992px) {
  .top-choice__title {
    font-size: 28px;
  }
  .top-choice__subtitle {
    font-size: 62px;
  }
  .top-choice__images-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  .top-choice__menu-container {
    margin-bottom: 55px;
  }
  .top-choice__menu-item-name,
  .top-choice__menu-item-price {
    font-size: 38px;
  }
  .top-choice__menu-underline {
    height: 32px;
  }
}

.top-choice__modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--text-light);
  z-index: 1;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
}

.top-choice__modalContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-choice__modalImg {
  max-width: 700px;
  max-height: 100vh;
}

.top-choice__modal-close {
  position: absolute;
  top: 1em;
  right: 1.5em;
  font-size: 1.5em;
  cursor: pointer;
}

.top-choice__modal.appear {
  opacity: 1;
  pointer-events: all;
}
.top-choice__modal.appear .top-choice__modalImg {
  animation: zoom 0.3s linear;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.top-choice__prev,
.top-choice__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: var(--text-light);
  transition: 0.6s ease;
  border: none;
  user-select: none;
  background: none;;
  outline: none;
}

.top-choice__next {
  margin-left: 1em;
  right: 0;
}

.top-choice__prev {
  left: 0;
}

.top-choice__prev:hover,
.top-choice__next:hover {
  transform: scale(1.5);
  background-color: rgba(0, 0, 0, 0.8);
}
