@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

:root {
  --text-light: #fff;
  --brand-color: #ffc123;
  --ui-dark: #111;
  --background-color: #130f0d;
  --name-color: #fff;
  --description-color: #ccc;
  --special-price-color: #fdbf23;
  --price-color: #ffc123;
  --default-color: #fff;
  --story-color: #999;
  --contacts-form-text-color: #fff;
  --contacts-form-text-link-color: #9d9d9dfc;
  --contacts-form-image-icon-color: #ffc123;
  --contacts-form-image-color: #000000fc;
  --contacts-form-text-link-color: #9d9d9dfc;
  --contacts-form-background-color: #000000fc;
  --contacts-background-form-color: rgba(0, 0, 0, 0.61);
  --botton-reserve-background-color: #ffc123;
  --field-outline-color: #3b99fc;
  --reservation-field-color: rgba(255, 255, 255, 0.04);
  --reservation-field-text-color: rgba(255, 255, 255, 0.54);
  --table-reserve-text-color: #d0d0d0fc;
  --reservstion-button-text-color: #111111;
  --slides-number: 5;
  --slide-width: 250px;
  --slide-height: 300px;
  --animation-time: 10s;
}
