<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link
      rel="icon"
      href="./public/icon.png"
      type="image/x-icon"
      sizes="32x32"
    />
    <link rel="stylesheet" href="./css/pages/full-menu-page.css" />
  </head>
  <body>
    <header data-hx-trigger="load"
        data-hx-swap="outerhtml"
        data-hx-get="header.partial.html"></header>
    <div class="full-menu__header">
      <h1 class="full-menu__header-title">MENU</h1>
    </div>
    <main class="full-menu__main">
      <section class="full-menu__container container">
        <h2 class="full-menu__title">Bar</h2>
        <p class="full-menu__subtitle">BAR MENU</p>
        <p class="full-menu__text">
          We offer bottled beers by local producers, our own draft beer, and a
          variety of cocktails.
        </p>
        <div class="full-menu__carousel-container--1">
          <article class="full-menu__list-container">
            <h3 class="full-menu__list-title">BEER ON TAP</h3>
            <ul class="full-menu__list">
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">blue style</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$5</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Brewed with oats and spiced with orange peel
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">Boutique Ipa</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$6</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Our best-selling draft beer with bitter taste
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">absolute porter</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$7</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Chocolate peanut butter porter with rich taste
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">belgian dream</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$8</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  A traditional Belgian-style wheat ale with whispers of orange
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">BEER BOUTIQUE LAGER</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$9</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Crisp, clean and slightly dry with some residual sweetness
                </p>
              </li>
            </ul>
          </article>
          <article class="full-menu__list-container">
            <h3 class="full-menu__list-title">COCKTAILS</h3>
            <ul class="full-menu__list">
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">MONKEY SOUR</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$10</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Monkey Shoulder whisky, strawberry, lemon, sugar
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">OLD FASHIONED</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$11</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Buffalo Trace bourbon, demerara, Angostura Bitters
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">PIÑA COLADA</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$10</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Havana Club 3 Year Old rum, coconut, pineapple
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">MOJITO</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$11</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Havana Club 3 Year Old rum, lime, mint, soda
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">BRAMBLE</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$13</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Tanqueray London Dry gin, crème de mure, lemon
                </p>
              </li>
            </ul>
          </article>
          <article class="full-menu__list-container">
            <h3 class="full-menu__list-title">BOTTLED BEER</h3>
            <ul class="full-menu__list">
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">Indian pale ale</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$4</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Strong and bitter beer with intense aroma
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">Lager beer</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$3.50</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  This beer is not bitter at all and features wheat aroma
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">BITTER</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$4</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  "England's favorite beer", dark and intense
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">stout</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$5</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  This frothy beer has a medium strength and a pleasant aroma
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">Caramel Ale</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$5.50</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Caramel malt sweetness accompanied by spicy and citrusy hops
                </p>
              </li>
            </ul>
          </article>
          <button class="full-menu__button-prev--1">
            <svg class="full-menu__arrow-svg" viewBox="0 0 30 30">
              <defs>
                <path
                  d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
                  id="a-1706900755051"
                ></path>
              </defs>
              <use
                fill-rule="nonzero"
                opacity=".8"
                xlink:href="#a-1706900755051"
              ></use>
            </svg>
          </button>
          <button class="full-menu__button-next--1">
            <svg class="full-menu__arrow-svg" viewBox="0 0 30 30">
              <defs>
                <path
                  d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
                  id="a-1706900755051"
                ></path>
              </defs>
              <use
                fill-rule="nonzero"
                opacity=".8"
                xlink:href="#a-1706900755051"
              ></use>
            </svg>
          </button>
        </div>
      </section>

      <img
        src="./img/menu_photo.webp"
        alt="Have fun with friend drinking our beer"
        class="full-menu__image container"
      />

      <section class="full-menu__container container">
        <h2 class="full-menu__title">Food</h2>
        <p class="full-menu__subtitle">FOOD MENU</p>
        <p class="full-menu__text">
          Explore our snacks, burgers, and main dishes.
        </p>
        <div class="full-menu__carousel-container--2">
          <article class="full-menu__list-container">
            <h3 class="full-menu__list-title">SNACKS</h3>
            <ul class="full-menu__list">
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">SPICY NACHOS</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$15</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Cheddar cheese, jalapenos, queso fresco, sour cream, salsa
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">FISH & CHIPS</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$12</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Ale battered cod, coleslaw, French fries, and tartar sauce
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">FRIED CALAMARY</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$12</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Fried calamari served with spicy tartar sauce and dill aioli
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">CHICKEN WRAP</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$18</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Grilled chicken, bacon, tomato, cucumber, avocado, village
                  sauce
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">MAC & CHEESE BITES</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$10</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  With maple bacon and cheese sauce
                </p>
              </li>
            </ul>
          </article>
          <article class="full-menu__list-container">
            <h3 class="full-menu__list-title">BURGERS</h3>
            <ul class="full-menu__list">
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">CLASSIC BURGER</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$14</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Beef, tomato, pickle, lettuce, cucumber, cheddar cheese, bacon
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">BEEF King</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$18</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Beef brisket, Swiss cheese, caramelised onions
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">Double Cheeseburger</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$22</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Double beef patties with cheese, tomato, topped with
                  mozzarella
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">chicken burger</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$15</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Chicken breast, soaked with hot sauce & blue cheese slaw
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">Boutique burger</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$19</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Maple bacon, tomato, red onions topped off with a fried egg
                </p>
              </li>
            </ul>
          </article>
          <article class="full-menu__list-container">
            <h3 class="full-menu__list-title">MEAT</h3>
            <ul class="full-menu__list">
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">SESAME CHICKEN STRIPS</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$13</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Chicken breasts in Jack Daniel's® glaze with toasted sesame
                  seeds
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">Hot wings</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$15</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Served with barbecue sauce and coleslaw
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">Lamb gyro</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$20</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Lamb, tzatziki sauce, tomato, cucumber & lettuce in pita bread
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">LAMB CHOPS</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$22</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Marinated herb roasted rack of lamb chops with balsamic sauce
                </p>
              </li>
              <li class="full-menu__list-item">
                <div class="full-menu__list-item-wrap">
                  <p class="full-menu__list-item-name">PAN ROASTED PORK CHOP</p>
                  <div class="full-menu__list-underline"></div>
                  <span class="full-menu__list-item-price">$23</span>
                </div>
                <p class="full-menu__list-item-ingredients">
                  Served in a bourbon & honey glaze with berry sauce
                </p>
              </li>
            </ul>
          </article>
          <button class="full-menu__button-prev--2">
            <svg class="full-menu__arrow-svg" viewBox="0 0 30 30">
              <defs>
                <path
                  d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
                  id="a-1706900755051"
                ></path>
              </defs>
              <use
                fill-rule="nonzero"
                opacity=".8"
                xlink:href="#a-1706900755051"
              ></use>
            </svg>
          </button>
          <button class="full-menu__button-next--2">
            <svg class="full-menu__arrow-svg" viewBox="0 0 30 30">
              <defs>
                <path
                  d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
                  id="a-1706900755051"
                ></path>
              </defs>
              <use
                fill-rule="nonzero"
                opacity=".8"
                xlink:href="#a-1706900755051"
              ></use>
            </svg>
          </button>
        </div>
      </section>
    </main>
    <footer data-hx-trigger="load"
        data-hx-swap="outerhtml"
        data-hx-get="footer.partial.html"></footer>
    <script src="https://unpkg.com/html-data-include@3.3.3/html-data-include.js"></script>
    <script src="./js/full-menu.js"></script>
  </body>
</html>
