<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beer Pub</title>
    <link
      rel="icon"
      href="./public/icon.png"
      type="image/x-icon"
      sizes="32x32"
    />

    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <header
      data-hx-trigger="load"
      data-hx-swap="outerhtml"
      data-hx-get="header.partial.html"
    ></header>
    <main>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerhtml"
        data-hx-get="index.table-reserve.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerhtml"
        data-hx-get="index.menu.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerhtml"
        data-hx-get="index.offer.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerhtml"
        data-hx-get="index.friday-deal-banner.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerhtml"
        data-hx-get="index.special-price.partial.html"
      ></section>
      <!-- This block of code is not ready for presentation -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerhtml"
        data-hx-get="index.bottled-beer.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerhtml"
        data-hx-get="index.top-choice.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerhtml"
        data-hx-get="index.about-beer-boutique.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerhtml"
        data-hx-get="index.testimonials.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerhtml"
        data-hx-get="index.latest-posts.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerhtml"
        data-hx-get="index.beer-logo-carousel.partial.html"
      ></section>
    </main>
    <footer
      data-hx-trigger="load"
      data-hx-swap="outerhtml"
      data-hx-get="footer.partial.html"
    ></footer>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script src="./js/index.js"></script>
    <script
      src="https://kit.fontawesome.com/0f15e4bbd2.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
